<footer class="container">
  <p>&copy; Company 2017-2018</p>
</footer>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/JS.js"></script>


  </body>
</html>
