<% include ./partials/navbar %>

<div class="container">
  <% apiResultsdata['items'].forEach(function(items) { %>
    <% let image = items['volumeInfo']['imageLinks']['smallThumbnail'] %>
    <% let author = items['volumeInfo']['authors'] %>
    <% let title = items['volumeInfo']['title'] %>

    <div class="card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="<%= image %>" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <l1 class="card-title"><%= title %></l1>
                        <p class="card-text">By: <%= author %></p>
                        <a href="#" class="btn btn-primary">Review</a>
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted">
            </div>
        </div>

    <% }) %>

</div>

<% include ./partials/footer %>
