<% include ./partials/navbar %>

<div class="container">

  <!-- loop through the json object  -->
  <% apiResultsdata['items'].forEach(function(items) { %>
    <% let ID = items['id'] %>
    <% let image = items['volumeInfo']['imageLinks']['smallThumbnail'] %>
    <% let author = items['volumeInfo']['authors'] %>
    <% let title = items['volumeInfo']['title'] %>

    <!-- bootstrap card  -->
    <div class="card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="<%= image %>" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                      <a  href="#"><h5 class="card-title"><%= title %></h5></a>

                        <p class="card-text">By: <%= author %></p>
                        <a href="#" class="btn btn-primary">Review</a>
                        <a href="#" class="btn btn-primary">Rate</a>
                        <a href="#" class="btn btn-primary">Add to bookself</a>
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted">
            </div>
        </div>

    <% }) %>

</div>

<% include ./partials/footer %>
