<% include ./partials/navbar %>

<% apiResultsdata['items'].forEach(function(items) { %>
  <div class="bookItems">
    <li><%= items['volumeInfo']['title'] %></li>
    <li><%= items['volumeInfo']['authors'] %></li>
    gets the img
    <% var r = items['volumeInfo']['imageLinks']['thumbnail'] %>
    <img src="<%= r %>" alt="" >
  </div>
<% }) %>
