<% include ./partials/navbar %>

<div class="container wrapper">
    <% apiResultsdata['items'].forEach(function(items) { %>
      <!-- gets the image from the JSON -->
      <% let volumeInfo = items['volumeInfo'] %>
      <% let title = volumeInfo['title'] %>
      <% let authors = volumeInfo['authors'] %>
      <% let image = null; %>
      <!-- if the imageLinks is not in the api, it won't throw an error -->
      <% if(volumeInfo['imageLinks'] !== undefined) { %>
          <% image = volumeInfo['imageLinks']['smallThumbnail'] %>
        <% } %>
        <!-- if the image is null don't display any info about it -->
        <% if(image !== null) { %>
          <div>
            <img src="<%= image %>" alt="" >
          </div>
          <div>
          <a href="#" ><li><%= title %></li></a>
            <li>By: <%= authors %></li>
          </div>
          <div>
            <button class="rateButton" type="button" name="button">Rate</button>
          </br>
            <button type="button" name="button">Review</button>
          </div>
          <% } %>
        <% }) %>
</div>
