<% include ./partials/navbar %>

<div class="container">
      <!-- gets the image from the JSON -->
        <!-- get the image -->
        <div class="wrapper">
          <% apiResultsdata['items'].forEach(function(items) { %>
            <% var image = items['volumeInfo']['imageLinks']['smallThumbnail'] %>
            <div>
              <img src="<%= image %>" alt="" >
            </div>
            <div>
              <a href="#" <li><%= items['volumeInfo']['title'] %></li>
              <li>By: <%= items['volumeInfo']['authors'] %></li>
            </div>
            <div>
              <button class="rateButton" type="button" name="button">Rate</button>
              <button type="button" name="button">Review</button>
            </div>
          <% }) %>
        </div>
</div>
