<% include ./partials/navbar %>

<div class="container wrapper">
    <% apiResultsdata['items'].forEach(function(items) { %>
      <!-- gets the image from the JSON -->
        <!-- get the image -->
          <% var r = items['volumeInfo']['imageLinks']['smallThumbnail'] %>
          <div>
            <img src="<%= image %>" alt="" >
          </div>
          <div>
          <a href="#" ><li><%= title %></li></a>
            <li>By: <%= authors %></li>
          </div>
          <div>
            <button class="rateButton" type="button" name="button">Rate</button>
          </br>
            <button type="button" name="button">Review</button>
          </div>
          <% } %>
        <% }) %>
</div>
