<% include ./partials/navbar %>


   <!-- cant find the bookdata object -->
   <!-- it might be that your rendering the object through a post request -->
 <% bookdata.forEach(function(items) { %>
    <% let volumeInfo = items['volumeInfo'] %>
   <% }) %>

<h1>This is the page</h1>
