<% include ./partials/navbar %>
<div style="margin-top: 1%;" class="container">
  <form class="" action="/bookResults" method="GET">
    <div class="form-group">
          <input style="text-align: center;" type="text" class="form-control" name="searchForBook" placeholder="Search for a book">
    </div>
  </form>
</div>
