<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/signupStyles.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>

    <!-- signup navbar -->
    <div class="container">
      <nav  class="nav">
        <a class="navbar-brand" href="/">DeepReads</a>
      </nav>
    </div>



<div class="wrapper fadeInDown">
<div id="formContent">
  <!-- Tabs Titles -->

  <!-- Icon -->
  <div class="fadeIn first">
    <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
  </div>

  <!-- Login Form -->
  <form method="POST" action="/signup">
    <input type="text" name="firstName" id="firstName"  class="fadeIn second" placeholder="First name">
    <input type="text" name="lastName" id="lastName" class="fadeIn third" placeholder="Last name">
    <input type="text" name="email" id="email" class="fadeIn fourth" name="login" placeholder="Email">
    <input type="text" name="password" id="password" class="fadeIn fifth" name="login" placeholder="Password">
    <input type="text" name="password2" id="confirmPassword" class="fadeIn sixth" name="login" placeholder="Confirm password">

    <input type="submit" class="fadeIn fourth" value="Sign Up">
  </form>

</div>
</div>

  </body>
</html>
