<% include ./partials/navbar %>


<div class="container">
  <form action="addPost">
           <textarea class="summariestextarea" name="body"
           placeholder="Title of each Chapter \n\n\nSummary of each Chapter"></textarea>
           <input class="btn btn-info btn-block" type="submit" value="Post Summary" />
  </form>
</div>



<!-- adds lines between each placeholder -->
<script type="text/javascript">
  var textArea = document.getElementsByTagName('textarea');
  Array.prototype.forEach.call(textArea, function(elem) {
    elem.placeholder = elem.placeholder.replace(/\\n/g, '\n');
  })
</script>





<% include ./partials/footer %>
