
/* navbar  */
.navbar {
  background-color: #39ace7;
  color: red;
}


.navbar-collapse.collapse ul li a {
  color: white;
}

.navbar-brand {
  color: white;
  background-color: transparent;
}



/* bookResults page */
.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.btn_class {
  margin-top: 20px;
}

.card {
  width: 100%;
  margin-top: 10px;
}




.img-fluid {
  width: 100px;
  height: 160px;
}

#IDs {
  display: none;
}
